/* Gibson placeholders (later activeren zodra je .woff2 files hebt) */
/*
@font-face {
  font-family: "Gibson";
  src: url("../assets/fonts/Gibson-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gibson";
  src: url("../assets/fonts/Gibson-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gibson";
  src: url("../assets/fonts/Gibson-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*/
